%h1 Créer un compte

= bootstrap_form_for(@utilisateur, multipart: true) do |f|
	%h3 Informations personnelles
	.row
		.col-md-6.col-xs-12
			= f.text_field :nom, label: "Nom", placeholder: "Nom", required: true
		.col-md-6.col-xs-12
			= f.text_field :prenom, label: "Prénom", placeholder: "Prénom", required: true
		.col-md-6.col-xs-12
			= f.email_field :email, label: "Email", placeholder: "mail@example.com", required: true
		.col-md-6.col-xs-12
			= f.number_field :promotion, label: "Promotion", placeholder: "2017"
		.col-md-6.col-xs-12
			= f.text_field :telephone, label: "Téléphone", type: "tel"
		.col-md-6.col-xs-12
			%label Avatar
			.input-group
				%span.input-group-btn
					%span.btn.btn-primary.btn-file
						Choisir un fichier
						= f.file_field :avatar, hide_label: true
				%input.form-control{:readonly => "readonly", :type => "text", :placeholder => "Image de profil"}
	%h3 Sécurité
	.row
		.col-md-6.col-xs-12
			= f.password_field :motdepasse, label: "Mot de passe", required: true
		.col-md-6.col-xs-12
			= f.password_field :motdepasse, label: "Confirmer le mot de passe", required: true
			%br
		%p.text-center
			= f.submit "Créer le compte"