%h2 #{@utilisateur.nom} #{@utilisateur.prenom}
%p Promotion #{@utilisateur.promotion}
%p Mail: #{@utilisateur.email}
%p Téléphone: #{@utilisateur.telephone}
%p
	= image_tag @utilisateur.avatar

= link_to "Déconnexion",  destroy_utilisateur_session_path, :method => :delete