%table
	%tr
		%td
			= image_tag @utilisateur.avatar, style: "margin-right: 50px;"
		%td
			%h1 #{@utilisateur.prenom} #{@utilisateur.nom}
			%h3 Promotion : #{@utilisateur.promotion}
			%h3 Adresse mail : #{@utilisateur.email}
			- if @utilisateur.telephone != ""
				%h3 Téléphone : #{@utilisateur.telephone}