%h1 Utilisateurs#show
%p Find me in app/views/utilisateurs/show.html.haml

%h2 #{@utilisateur.nom} #{@utilisateur.prenom}
%p Promotion #{@utilisateur.promotion}
%p Mail: #{@utilisateur.email}
%p Téléphone: #{@utilisateur.telephone}