%h1 Créer une annonce

- #{@article.utilisateur_id = Utilisateur.find_by_id(session[:current_user_id])}

= bootstrap_form_for(@article, multipart: true) do |f|
	%h3 Création d'annonce
	.row
		.col-md-6.col-xs-12
			= f.text_field :titre, label: "Titre", placeholder: "Nom de l'article", required: true
			= f.number_field :prix, label: "Prix", content: "0", required: true
			%label Images
			.input-group
				%span.input-group-btn
					%span.btn.btn-primary.btn-file
						Choisir un fichier
						= f.file_field :images, multiple: true, hide_label: true, required: true
				%input.form-control{:readonly => "readonly", :type => "text", :placeholder => "Images de l'article"}
			%br
		.col-md-6.col-xs-12
			= f.text_area :description, label: "Description", size: "60x6", placeholder: "Description de l'article", required: true
		.col-md-6.col-xs-12
			= f.check_box :archive, label: "Annonce archivée"
	.row.text-center
		= f.submit "Créer l'annonce", class: "btn btn-info"

