- auteur = Utilisateur.find(@article.utilisateur_id)

%h1
	= @article.titre
	- if @article.archive == true
		(annonce archivée)
	- if auteur == current_utilisateur
		= link_to "Modifier l'annonce", edit_article_path, class: "btn btn-info"
%h3 Prix de l'article : #{@article.prix}
%p= @article.description

%p
	- @article.images.each do |image|
		= image_tag image.file
		
%p Crée par l'utilisateur #{link_to auteur.prenom + " " + auteur.nom, utilisateur_path(@article.utilisateur_id)}