%h1= @article.titre
%h3= @article.description
%p Prix de l'article : #{@article.prix}

%p crée par l'utilisateur #{@article.utilisateur_id}
%p
	= @article.images.each do |image|
		= image_tag image.file
	end